Projects/Project_1/current.txt
[{"id":"6656d5bd.6fc38c","type":"mqtt in","z":"da3468f3.718c78","name":"Gassensor Subscriber","topic":"inside_node/ulnoiotGAS","qos":"0","broker":"6ab9e368.9b94b4","x":140,"y":100,"wires":[["41f4a456.aea034"]]},{"id":"41f4a456.aea034","type":"switch","z":"da3468f3.718c78","name":"switch GAS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":346,"y":100,"wires":[["b986f39a.a8a4e8"],["452dd4f4.88244c"]]},{"id":"b986f39a.a8a4e8","type":"change","z":"da3468f3.718c78","name":"Gas ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":80,"wires":[["6436d4c1.2e8a0c","edba1efb.21b4f8"]]},{"id":"452dd4f4.88244c","type":"change","z":"da3468f3.718c78","name":"Gas OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":133,"wires":[["8ed6b373.c5c46"]]},{"id":"e2304b9d.fd56a","type":"mqtt in","z":"da3468f3.718c78","name":"Flamesensor Subscriber","topic":"inside_node/ulnoiotFLAME","qos":"0","broker":"6ab9e368.9b94b4","x":132,"y":260,"wires":[["99ca86a7.725dc8"]]},{"id":"99ca86a7.725dc8","type":"switch","z":"da3468f3.718c78","name":"switch FLAME","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":360,"y":260,"wires":[["4874c2d8.0d694c"],["5fc97a5f.2084f4"]]},{"id":"4874c2d8.0d694c","type":"change","z":"da3468f3.718c78","name":"Flame ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":220,"wires":[["edba1efb.21b4f8"]]},{"id":"5fc97a5f.2084f4","type":"change","z":"da3468f3.718c78","name":"Flame OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":280,"wires":[["8ed6b373.c5c46","6436d4c1.2e8a0c"]]},{"id":"81982c08.ec7ae","type":"inject","z":"da3468f3.718c78","name":"gas on","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":112.5,"y":164,"wires":[[]]},{"id":"42771d5e.3bbf24","type":"inject","z":"da3468f3.718c78","name":"gas off","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":200,"wires":[[]]},{"id":"bbc60b85.484d48","type":"inject","z":"da3468f3.718c78","name":"flame on","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":136,"y":320,"wires":[[]]},{"id":"b60262ad.f154b8","type":"inject","z":"da3468f3.718c78","name":"flame off","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":136,"y":360,"wires":[[]]},{"id":"2f30a128.4fc3c6","type":"mqtt out","z":"da3468f3.718c78","name":"LED","topic":"outside_node/ulnoiotBTN","qos":"","retain":"","broker":"65997223.341d04","x":1050,"y":180,"wires":[]},{"id":"8ed6b373.c5c46","type":"change","z":"da3468f3.718c78","name":"no sensor on","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":120,"wires":[["2f30a128.4fc3c6"]]},{"id":"6436d4c1.2e8a0c","type":"change","z":"da3468f3.718c78","name":"gassensor on, flamesensor off","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":160,"wires":[["2f30a128.4fc3c6"]]},{"id":"edba1efb.21b4f8","type":"change","z":"da3468f3.718c78","name":"mind. flamesensor on","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":200,"wires":[["2f30a128.4fc3c6"]]},{"id":"6ab9e368.9b94b4","type":"mqtt-broker","z":"","broker":"192.168.12.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"65997223.341d04","type":"mqtt-broker","z":"","broker":"192.168.12.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]