Projects/Project_1/node-red.txt
[{"id":"297116d0.71270a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1ed1812c.15d647","type":"mqtt in","z":"297116d0.71270a","name":"Flame Subscriber","topic":"iot/Flame","qos":"0","broker":"3faae7cb.152f78","x":97.5,"y":106,"wires":[["e677b594.d9dbd"]]},{"id":"e677b594.d9dbd","type":"switch","z":"297116d0.71270a","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":276.5,"y":107,"wires":[["a942f116.74bf28"],["67b2a42d.a12524"]]},{"id":"22a845ae.4ebf42","type":"mqtt out","z":"297116d0.71270a","name":"Output Flame Subscribber","topic":"iot/IsFlame","qos":"0","retain":"","broker":"3faae7cb.152f78","x":715,"y":105,"wires":[]},{"id":"5e3a3828.e32788","type":"mqtt in","z":"297116d0.71270a","name":"Gas Subscriber","topic":"iot/Gas","qos":"0","broker":"3faae7cb.152f78","x":100,"y":240,"wires":[["5e38efdf.01325"]]},{"id":"5e38efdf.01325","type":"switch","z":"297116d0.71270a","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":279,"y":241,"wires":[["9159fd61.ad798"],["9f48bfd0.3fa47"]]},{"id":"1e6ed65d.09c6a2","type":"mqtt out","z":"297116d0.71270a","name":"Output Gas Subscribber","topic":"iot/IsGas","qos":"0","retain":"","broker":"3faae7cb.152f78","x":707.5,"y":239,"wires":[]},{"id":"a942f116.74bf28","type":"change","z":"297116d0.71270a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":452,"y":65,"wires":[["22a845ae.4ebf42"]]},{"id":"67b2a42d.a12524","type":"change","z":"297116d0.71270a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":455.5,"y":141,"wires":[["22a845ae.4ebf42"]]},{"id":"9159fd61.ad798","type":"change","z":"297116d0.71270a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":454.5,"y":199,"wires":[["1e6ed65d.09c6a2"]]},{"id":"9f48bfd0.3fa47","type":"change","z":"297116d0.71270a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":458,"y":275,"wires":[["1e6ed65d.09c6a2"]]},{"id":"3faae7cb.152f78","type":"mqtt-broker","z":"","broker":"192.168.12.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
