Lab_Outline/Project_01/flow_gas_flame.txt
[{"id":"d021ab09.321998","type":"tab","label":"Flow 1"},{"id":"e8ecb076.e778","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5824f746.1a36a8","type":"mqtt-broker","z":"","broker":"192.168.12.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bf7b28ee.7d4e48","type":"mqtt in","z":"d021ab09.321998","name":"Temperature Subscriber","topic":"internetofthings/temperature","qos":"0","broker":"5824f746.1a36a8","x":122.10000610351562,"y":149.8000030517578,"wires":[["277987a5.5e7698"]]},{"id":"277987a5.5e7698","type":"switch","z":"d021ab09.321998","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":370,"y":140,"wires":[["ba73fcf7.8479"],["7f301e81.c146"]]},{"id":"ba73fcf7.8479","type":"change","z":"d021ab09.321998","name":"Set to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":60,"wires":[["b4b00ca5.79d47"]]},{"id":"7f301e81.c146","type":"change","z":"d021ab09.321998","name":"Set to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":200,"wires":[["b4b00ca5.79d47"]]},{"id":"b4b00ca5.79d47","type":"mqtt out","z":"d021ab09.321998","name":"Switch Publisher","topic":"internetofthings/switch","qos":"0","retain":"","broker":"5824f746.1a36a8","x":840.1000366210938,"y":129.60000610351562,"wires":[]},{"id":"c53b699c.e997c8","type":"mqtt in","z":"e8ecb076.e778","name":"Flame Subscriber","topic":"iot/flame","qos":"0","broker":"5824f746.1a36a8","x":122.10001373291016,"y":202.60000705718994,"wires":[["92c2ecd6.39d3c"]]},{"id":"ed1e6aa5.822ee8","type":"mqtt in","z":"e8ecb076.e778","name":"Gas Subscriber","topic":"iot/gas","qos":"0","broker":"5824f746.1a36a8","x":124.10001373291016,"y":92.60000419616699,"wires":[["96573ab2.6f9538"]]},{"id":"96573ab2.6f9538","type":"switch","z":"e8ecb076.e778","name":"Gas Switcher","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"true","vt":"str"}],"checkall":"true","outputs":1,"x":330.1000099182129,"y":92.60000991821289,"wires":[["76cba363.a4ba1c"]]},{"id":"92c2ecd6.39d3c","type":"switch","z":"e8ecb076.e778","name":"Flame Switcher","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"250","vt":"num"}],"checkall":"true","outputs":1,"x":340.10001373291016,"y":202,"wires":[["e61ea0e9.f637b"]]},{"id":"a2b61555.69fdb8","type":"mqtt out","z":"e8ecb076.e778","name":"LED Gas Publisher","topic":"iot/led/gas","qos":"0","retain":"","broker":"5824f746.1a36a8","x":788.1001205444336,"y":93.0000147819519,"wires":[]},{"id":"cc4531f7.6eb46","type":"mqtt out","z":"e8ecb076.e778","name":"LED Flame Subscriber","topic":"iot/led/flame","qos":"0","retain":"","broker":"5824f746.1a36a8","x":816.1000671386719,"y":198.99999952316284,"wires":[]},{"id":"76cba363.a4ba1c","type":"change","z":"e8ecb076.e778","name":"Set Gas to True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":551.1000633239746,"y":93.00000989437103,"wires":[["a2b61555.69fdb8"]]},{"id":"e61ea0e9.f637b","type":"change","z":"e8ecb076.e778","name":"Set Flame to True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":577.1000366210938,"y":199.00000619888306,"wires":[["cc4531f7.6eb46"]]}]