Projects/Project_2/node_red_Project2.txt
[{"id":"125e8b79.3e09c5","type":"mqtt in","z":"ef2b8c87.c8db4","name":"Weight","topic":"","qos":"2","broker":"3faae7cb.152f78","x":72.5,"y":36,"wires":[["3f9a3f41.00f54"]]},{"id":"7b022519.bdf05c","type":"mqtt in","z":"ef2b8c87.c8db4","name":"Distance (acoustic)","topic":"","qos":"2","broker":"3faae7cb.152f78","x":113.5,"y":88,"wires":[["18d21283.2dcd85"]]},{"id":"d26e9da2.842c9","type":"mqtt in","z":"ef2b8c87.c8db4","name":"Distance (laser)","topic":"","qos":"2","broker":"3faae7cb.152f78","x":104,"y":139,"wires":[["7fa9e186.b6e768"]]},{"id":"b0d59e80.19ded8","type":"mqtt in","z":"ef2b8c87.c8db4","name":"Rainwater","topic":"","qos":"2","broker":"3faae7cb.152f78","x":84.5,"y":192,"wires":[["1eaf3773.4e41a1"]]},{"id":"52e8aa37.c488a4","type":"mqtt in","z":"ef2b8c87.c8db4","name":"Liquide","topic":"","qos":"2","broker":"3faae7cb.152f78","x":74.5,"y":247,"wires":[["2bf5e976.adc00e"]]},{"id":"3f9a3f41.00f54","type":"change","z":"ef2b8c87.c8db4","name":"send received msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":286,"y":36,"wires":[["4eccef38.05f93"]]},{"id":"18d21283.2dcd85","type":"change","z":"ef2b8c87.c8db4","name":"send received msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":325,"y":88,"wires":[["4eccef38.05f93"]]},{"id":"7fa9e186.b6e768","type":"change","z":"ef2b8c87.c8db4","name":"send received msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":302,"y":139,"wires":[["4eccef38.05f93"]]},{"id":"1eaf3773.4e41a1","type":"change","z":"ef2b8c87.c8db4","name":"send received msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":267,"y":192,"wires":[["4eccef38.05f93"]]},{"id":"2bf5e976.adc00e","type":"change","z":"ef2b8c87.c8db4","name":"send received msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":246,"y":247,"wires":[["4eccef38.05f93"]]},{"id":"4eccef38.05f93","type":"mqtt out","z":"ef2b8c87.c8db4","name":"return all values","topic":"","qos":"","retain":"","broker":"3faae7cb.152f78","x":606,"y":139,"wires":[]},{"id":"3faae7cb.152f78","type":"mqtt-broker","z":"","broker":"192.168.12.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]