Lab_Outline/Red_Node_Temperature_Simulation/wiring_final.txt
[{"id":"d021ab09.321998","type":"tab","label":"Flow 1"},{"id":"5824f746.1a36a8","type":"mqtt-broker","z":"","broker":"192.168.12.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bf7b28ee.7d4e48","type":"mqtt in","z":"d021ab09.321998","name":"Temperature Subscriber","topic":"internetofthings/temperature","qos":"0","broker":"5824f746.1a36a8","x":122.10000610351562,"y":149.8000030517578,"wires":[["277987a5.5e7698"]]},{"id":"277987a5.5e7698","type":"switch","z":"d021ab09.321998","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":370,"y":140,"wires":[["ba73fcf7.8479"],["7f301e81.c146"]]},{"id":"ba73fcf7.8479","type":"change","z":"d021ab09.321998","name":"Set to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":60,"wires":[["b4b00ca5.79d47"]]},{"id":"7f301e81.c146","type":"change","z":"d021ab09.321998","name":"Set to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":200,"wires":[["b4b00ca5.79d47"]]},{"id":"b4b00ca5.79d47","type":"mqtt out","z":"d021ab09.321998","name":"Switch Publisher","topic":"internetofthings/switch","qos":"0","retain":"","broker":"5824f746.1a36a8","x":840.1000366210938,"y":129.60000610351562,"wires":[]}]